language: julia

os:
  - linux
  - osx

julia:
  - 0.7
  - 1.0
  - 1.1

matrix:
  fast_finish: true

notifications:
  email:
    on_success: never
    on_failure: change

after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder(), flags="julia_$(VERSION.major)_$(VERSION.minor)")'
  - julia -e 'using Pkg; ps=Pkg.PackageSpec(name="Documenter", version="0.19"); Pkg.add(ps); Pkg.pin(ps); include(joinpath("docs", "make.jl"))'
